manifest {
  mainScript = 'gene_family_analysis.nf'
  description = 'pipeline for the analysis of angiosperms gene family involved in flower development'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
    cacheDir = "/pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/"
}

executor {
    name = 'slurm'
    queueSize = 400
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

process{
	shell = ['/bin/bash', '-ueo','pipefail']
    executor ='slurm'
	queue= 'common'
    cpus = 1
    memory='3G'

	clusterOptions = '--qos fast'

    withLabel: blast {
    cpus = 1
    memory='10G'
    }

    withLabel : iqtree2 {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/iqtree_v2.1.3.sif'
        cpus=5
        memory='5G'
    }

    withLabel : mafft {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/mafft.simg'
    }

    withLabel : internet {
        executor = 'local'
        cpus = 1
        memory='1G'
    }

    withLabel : goalign {
        container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/goalign_v0.3.3c.sif'
        cpus = 1
    }
}
