
nextflow.enable.dsl = 1

manifest {
  mainScript = 'baliphy_align.nf'
  description = 'pipeline for the analysis of angiosperms gene family involved in flower development'
} 

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /beegfs --home $HOME:/home/$USER"
    cacheDir = "/beegfs/home/mmorel/.Singularity_NF/"
}


conda.enabled = true

executor {
    name = 'slurm'
    queueSize = 400
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
    queue = "long"
}

process{
	shell = ['/bin/bash', '-ueo','pipefail']
    executor ='slurm'
    cpus = 1
    memory='8G'
    time='29d'
    queue = "long"

    withLabel: blast {
    cpus = 1
    memory='10G'
    }

    withLabel: tool {
    executor = "local"
    cpus = 1
    memory='5G'
    }

    withLabel : iqtree2 {
        cpus=5
        memory='5G'
    }

    withLabel : goalign {
        cpus = 1
    }
}
